*{
 margin: 0;
 padding: 0;
 font-family: monospace;
}



body{
    background-color:#EFD19A ;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(80, 53, 3);
}
.botones{
    text-align: center;
    padding: 10px;
}
#nuevaTareaInput{
    padding: 7px;
    width: 500px;
}
#agregarBtn {
    padding: 7px;
}

ol{
    
    text-align: center;
    padding: 20px;
    color: rgb(80, 53, 3);
}
ol li{
    padding: 7px;
    background-color: #CEB586; 
    border-radius: 7px;
    display: flex;
    justify-content: column;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
}
.delet{
    background-color: #CEB586;
    border: 0;
}
